.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#f77599, #3d80c2);
}

section {
  width: 100%;
  min-height: 100vh;
}

.link {
  color: #09d3ac;
}
